.add-wine-button {
    background-color: $color-background-light;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    position: relative;
    display: inline-block;

    &,
    &:link,
    &:visited {
        text-decoration: none;
    }

    &__icon,
    &__icon::before {
        width: 1.5rem;
        height: 4px;
        display: inline-block;
        background-color: $color-font-primary;
        position: absolute;
    }

    &__icon {
        top: 1.9rem;
        left: 1.3rem;
    }

    &__icon::before {
        content: "";
        transform: rotate(90deg);
    }
}