.footer {
    background-color: $color-secondary;
    height: 14rem;
    color: $color-font-secondary;
    font-size: 1.8rem;
    font-family: $font-logo-primary;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}