.footer {
    background-color: $color-secondary;
    height: 14rem;
    color: $color-font-secondary;
    font-size: 1.8rem;
    font-family: $font-logo-primary;
    position: relative;

    &__contents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__links {
        margin-bottom: 1rem;
    }
}