// COLORS
$color-primary: #ADC2E6;
$color-primary-light: #BCD3FB;
$color-primary-dark: #8EA1C0;

$color-background-light: #EBECED;

$color-font-primary: #37393E;

// FONTS
$font-logo-primary: 'Righteous', cursive;
