// COLORS
$color-primary: #AFBFC0;
$color-primary-light: lighten(#AFBFC0, 10%);
$color-primary-dark: darken(#AFBFC0, 10%);

$color-secondary: #818479;
$color-secondary-dark: darken(#818479, 15%);

$color-tertiary: #847E89;

$color-background-lightest: white;
$color-background-light: #f2f2f2;

$color-font-primary: #43454c;
$color-font-secondary: #f2f2f2;

// FONTS
$font-logo-primary: 'Righteous', cursive;
$font-primary: 'Quicksand', sans-serif;
