.menu-button__side-nav {
    position: relative;
    margin-top: 1.7rem;
    margin-left: .8rem;

    &,
    &::before,
    &::after {
        width: 2rem;
        height: 2px;
        background-color: $color-font-primary;
        display: inline-block;
        position: absolute;
        left: 0;
    }

    &::before,
    &::after {
        content: "";
    }

    &::before {
        top: -.6rem;
    }

    &::after {
        top: .6rem;
    }
}