.menu-button__add-wine {
    &,
    &::before {
        width: 1.5rem;
        height: 4px;
        display: inline-block;
        background-color: $color-font-primary;
        position: absolute;
    }

    & {
        top: 1.6rem;
        left: 1rem;
    }

    &::before {
        content: "";
        transform: rotate(90deg);
    }
}